# Created by https://www.toptal.com/developers/gitignore/api/data
# Edit at https://www.toptal.com/developers/gitignore?templates=data

### Data ###
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
*.pptx
*.sdf
*.tax2010
*.vcf
*.xml
*.ipynb

data/
naverBlog/
tessdata/

# End of https://www.toptal.com/developers/gitignore/api/data